<html>

<head>
  <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
      <script src="./WebComponentLink/WebComponentLink.js" type="module"></script>
      <script src="./PostalMessaging/PostalMessaging.js" type="module"></script>
      <script src="./httpFetch/httpFetch.js" type="module"></script>
      <script src="./navigoRouter/navigoRouter.js" type="module"></script>
      <script src="./webTripleStore/webTripleStore.js" type="module"></script>
      <web-component-link url="http://localhost:8081/template/" main="index.html" tag="semviz-base-template" class="SemVizBaseTemplate"></web-component-link>
      <web-component-link url="http://localhost:8082/skosTreeSV/" main="index.html" tag="skos-tree-sv" class="SkosTreeSV"></web-component-link>
      <web-component-link url="http://localhost:8082/semanticTableSV/" main="index.html" tag="semantic-table-sv" class="SemanticTableSV"></web-component-link>
      <web-component-link url="http://localhost:8082/semanticFormSV/" main="index.html" tag="semantic-form-sv" class="SemanticFormSV"></web-component-link>

</head>

<body>
  <semviz-base-template id="template">
    <skos-tree-sv slot="slot1" id="skosTree"></skos-tree-sv>
    <semantic-table-sv slot="slot2" id="semanticTable"></semantic-table-sv>
    <semantic-form-sv slot="slot3" id="semanticForm"></semantic-form-sv>
  </semviz-base-template>

  <web-triple-store id="ontology-web-triple-store" namespace-file-mapping="http://localhost:8083/config/namespaceFileMapping.json"></web-triple-store>

  <http-fetch id="alternatives-get-many" url="http://semantic-bus.org/data/api/PWA_Bounds?boundsJson={$.bounds}&concept={$.concept}" default-param='{"bounds":[{"_southWest":{"lat":44.49651,"lng":-2.55981},"_northEast":{"lat":47.86846,"lng":3.31787}},{"_southWest":{"lat":0,"lng":0},"_northEast":{"lat":0,"lng":0}},{"_southWest":{"lat":0,"lng":0},"_northEast":{"lat":0,"lng":0}},{"_southWest":{"lat":0,"lng":0},"_northEast":{"lat":0,"lng":0}}]}' method="GET" data-path="data" ontology-web-triple-store="#ontology-web-triple-store">
  </http-fetch>
  <http-fetch id="alternatives-get-one" url="http://semantic-bus.org/data/api/PWA_One?id={$.@id}" method="GET" data-path="data">
  </http-fetch>
  <http-fetch id="taxonomy-get-many" url="http://semantic-bus.org/data/api/TaxonomiePWA" method="GET" data-path="@graph" ontology-web-triple-store="#ontology-web-triple-store">
  </http-fetch>

  <navigo-router id="router">
    <route url="search" output-message="search" input-message="searchRequest"></route>
    <route url="form/{$.@id}" output-message="form" input-message="formRequest"></route>
  </navigo-router>

  <postal-messaging source="#skosTree" target="#alternatives-get-many">
    <message source="tree/item/select" target="fetch"></message>
  </postal-messaging>
  <!--<web-component-messaging source="#semanticTable" target="#alternatives-get-one">
    <message source="table/item/select" target="fetch"></message>
  </web-component-messaging>-->
  <postal-messaging source="#semanticTable" target="#router">
    <message source="table/item/select" target="formRequest"></message>
  </postal-messaging>

  <postal-messaging source="#router" target="#template">
    <message source="form" target="form"></message>
    <message source="search" target="search"></message>
  </postal-messaging>
  <postal-messaging source="#router" target="#alternatives-get-one">
    <message source="form" target="fetch"></message>
  </postal-messaging>
  <postal-messaging source="#router" target="#alternatives-get-many">
    <message source="search" target="fetch"></message>
  </postal-messaging>
  <postal-messaging source="#router" target="#taxonomy-get-many">
    <message source="search" target="fetch"></message>
  </postal-messaging>
  <postal-messaging source="#alternatives-get-many" target="#semanticTable">
    <message source="response" target="table/items/set"></message>
    <message source="ontology" target="table/ontology/set"></message>
    <message source="loading" target="table/items/loading"></message>
  </postal-messaging>
  <postal-messaging source="#alternatives-get-one" target="#semanticForm">
    <message source="response" target="form/item/set"></message>
    <message source="ontology" target="form/ontology/set"></message>
    <message source="loading" target="form/item/loading"></message>
  </postal-messaging>
  <postal-messaging source="#taxonomy-get-many" target="#skosTree">
    <message source="response" target="tree/items/set"></message>
    <message source="loading" target="tree/items/loading"></message>
  </postal-messaging>


</body>

<html>
